<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

My jupyter

hey this is ibad and i am aspiring data science

R
Julia
JavaScript
Scala
Java

scipy
numpy
keras
pandas

|tool||description|
| --- | --- |
|python||A popular programming language for data analysis, machine learning, and scientific computing|
| SQL||A domain-specific language used in programming and designed for managing data held in a relational database management system|

2 + 3 is an example of an addition expression, which evaluates to 5.
4 * 5 is an example of a multiplication expression, which evaluates to 20.
6 / 2 is an example of a division expression, which evaluates to 3.
10 - 7 is an example of a subtraction expression, which evaluates to 3

# Define the variables
x = 5
y = 10
z = 2

# Multiply x and y
result = x * y

# Add z to the result
final_result = result + z

# Print the final result
print(final_result)

In [3]:
# Define the variables
minutes = 120

# Convert minutes to hours
hours = minutes / 60

# Print the result
print("The number of hours is:", hours)

The number of hours is: 2.0

Learn how to perform basic arithmetic operations using Python.
Understand how to create and manipulate variables in Python.
Learn how to convert between different units of measurement using Python.
Explore different data types in Python, including integers, floats, and strings.

This Jupyter Notebook was created by [Ibad Absar].